.Header {
  width: 100%;
}

@media (min-width: 768px) {
  .Header {
    position: absolute;
    top: -41px;
    right: 50px;
    nav {
      display: flex;
      justify-content: flex-end;
    }
    #menu {
      display: none;
    }
  }
}
