.App {

}

#notebook {
  height: 100vh; /*FIXME: only for layout*/
  background: saddlebrown;
}

#notebook-paper {
  background: #f8f7f1;
  position: relative;
  height: 100vh; /*FIXME: Only for layout*/
}

.paper-page {
  position: absolute;
  height: 100vh; /*FIXME: Only for layout*/
  width: 10px;
  border-radius: 0 10px 10px 0;
  box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.3);
  display: none;
}
.paper-page-one {
  right: 5px;
}
.paper-page-two {
  right: 10px;
}
.paper-page-three {
  right: 15px;
}

@media (min-width: 768px) {
  #notebook {
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    position: relative;
  }
  #notebook-paper {
    border-radius: 10px;
  }
  .paper-page {
    display: block;
  }
  .App {
    padding-top: 50px;
  }
}

@media (min-width: 992px) {
  #notebook {
    width: 990px;
  }
}

.pink {
  background: linear-gradient(130deg, #fa598e 0%, #cf3a6b 100%);
}
.yellow {
  background: linear-gradient(130deg, #ffeb7a 0%, #f3c450 100%);
}
.blue {
  background: linear-gradient(130deg, #59ccfa 0%, #389dc6 100%);
}
.green {
  background: linear-gradient(130deg, #59fa89 0%, #35c35f 100%);
}
